*{
    margin: 0%;
    padding: 0%;
}

header{
    grid-area: header;
}

.seccionUno{
    grid-area: seccionUno;
}

.seccionDos{
    grid-area: seccionDos;
}

footer{
    grid-area: footer;
}

.contenedor{
    display: grid;
    grid-template-columns: 4;
    grid-template-rows: 4;
    grid-template-areas: 
    "header header header header"
    "seccionUno seccionUno seccionUno seccionUno"
    "seccionDos seccionDos seccionDos seccionDos"
    "footer footer footer footer";
}

/* css para header */

header{
    background-color: rgb(38, 124, 38);
    position: sticky;
    top: 0.0125em;
    border-radius: 0.625em;
    border: solid 0.125em;
    box-shadow: inset 0.25em -0.25em 1.875em 0.25em rgba(0,0,0,10);
    z-index: 2;
}

.logo{
    margin-top: 0.625em;
    height: 6.25em;
}

.div1{
    margin-left: 6.25em;
    display: flex;
    align-items: flex-end;
}

h1{
    border-radius: 0.625em;
    border: solid 0.125em;
    border-top: none;
    border-left: none;
    border-right: none;
    color: rgb(0, 2, 1);
    font-style: oblique;
    font-size: 1.875em;
}

.subt{
    color:  rgb(224, 219, 219);
    margin-right: 6.25em;
    text-align: center;
    display: flex;
    justify-content: end;
    align-items: center;
}

ul{
    list-style-type: none;
    font-size: 1.25em;
    background-color: ghostwhite;
    border-radius: 0.625em;
    border: solid 0.0625em;
    display: flex;
    justify-content: space-evenly
}

a{
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
a:hover{
    color: rgb(8, 61, 8);
}

/* css para body */

body{
    background: url(../img/fondo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    overflow-x: hidden;
}

/* css para index.html */

main{
    text-align: center;
}

.parrafo{
    display: flex;
    justify-content: center;
    margin: 10% 0% 3% 0%;
    font-size: 3.125em;
    font-weight: bold;
    color: rgb(4, 53, 14);
    box-shadow: 0.8125em -0.5625em 1.1875em 1.25em rgba(0,0,0,0.3);
}

.parrafito{
    margin-bottom: 3.125em;
    margin-right: 3.125em;
    color: rgb(0, 2, 1);
    font-weight: bold;
    font-size: 1.25em;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: oblique;
}

.img1{
    margin-left: 9.375em;
    margin-right: 9.375em;
    width: 16.875em;
    border: solid 2px;
    border-radius: 1.25em;
    transition: all 3s;
    box-shadow: 0.8125em -0.5625em 1.1875em 1.25em rgba(0,0,0,0.5);
}

.img1:hover{
    transform: rotate(360deg) scale(2);
}

.div1Flex{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}

.seccionDos{
    margin-bottom: 6.25em;
}

.hito{
    margin: 10% 0% 3% 0%;
    font-size: 2.5em;
    font-weight: bold;
    color: rgb(4, 53, 14);
    box-shadow: 0.8125em -0.5625em 1.1875em 1.25em rgba(0,0,0,0.3);
}


.parrafitoSegundaSeccion{
    margin-bottom: 3.125em;
    margin-left: 3.125em;
    color: rgb(0, 2, 1);
    font-weight: bold;
    font-size: 1.25em;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: oblique;
}

.img2{
    margin-right: 9.375em;
    margin-left: 9.375em;
    width: 18.75em;
    border: solid 2px;
    border-radius: 1.25em;
    transition: all 3s;
    box-shadow: -0.8125em -0.5625em 1.1875em 1.25em rgba(0,0,0,0.5);
}

.img2:hover{
    transform: rotate(360deg) scale(2);
}


.div2Flex{
    display: flex;
    flex-direction: row;
    align-items: center;
}

/* css para institucion.html */

.tituloFutbol {
    margin-top: 4.375em;
    text-align: center;
    color: rgb(4, 53, 14);
    font-size: 3.125rem;
    font-weight: bold;
    box-shadow: 0.8125em -0.5625em 1.1875em 1.25em rgba(0,0,0,0.3);
}

.futbolParrafo {
    margin-top: 3.125em;
    font-size: 1.25em;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
}

.imagenesDeInstitucion {
    width: 45em;
    text-align: left;
    margin-top: 3.125em;
    margin-bottom: 3.125em;
    border: solid 0.125em;
    margin-left: 19.375em;
    box-shadow: 0.8125em -0.5625em 1.1875em 1.25em rgba(0,0,0,0.3);
}

.tituloBasquetbol {
    margin-top: 3.25em;
    text-align: center;
    color: rgb(4, 53, 14);
    font-size: 3.125em;
    font-weight: bold;
    box-shadow: 0.8125em -0.5625em 1.1875em 1.25em rgba(0,0,0,0.3);
}

.basquetbolParrafo {
    margin-top: 3.125em;
    font-size: 1.25em;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
}

.basquetbolCampeones {
    width: 45em;
    text-align: left;
    margin-top: 3.125em;
    margin-bottom: 3.125em;
    border: solid 2px;
    margin-left: 19.375em;
    margin-bottom: 6.25em;
    box-shadow: -0.8125em -0.5625em 1.1875em 1.25em rgba(0,0,0,0.3);
}

/* css para futbol.html */

.tablaFutbol{
    margin-top: 9.375em;
    margin-left: 40.625em;
    margin-bottom: 18.75em;
    width: 37.5em;
    text-align: left;
    border: solid 2px;
}

table{
    width: 100%;
    background-color: rgb(253, 255, 253);
    border-collapse: collapse;
}

thead{
    background-color: rgb(64, 128, 64);
    border-bottom: solid 2px;
}

th, td{
    padding: 0.625em;
}

.racingPos{
    font-weight: bold;
    background-color: rgb(202, 200, 198);
}

/* css para basquetbol.html */

.tablaBasquetbol{
    margin-top: 9.375em;
    margin-right: 28.125em;
    margin-left: 6.25em;
    margin-bottom: 18.75em;
    width: 37.5em;
    text-align: left;
    border: solid 3px;
}

/* css para contacto.html */

fieldset{
    border: none;
}

.lineaFormulario{
    margin-bottom: 1.875em;
    margin-left: 1.875em;
}

form{
    background-color: rgb(206, 205, 205);
    border: solid 1px;
    color: rgb(5, 63, 5);
    border-radius: 10%;
    padding: 0.625em;
    margin-right: 59.375em;
    margin-bottom: 18.75em;
    margin-top: 3.125em;
    margin-left: 3.125em;
    text-align: left;
    
}

label{
    float: left;
    width: 5.75em;
    font-size: 1.25em;
}

input{
    padding: 0.3125em;
}

textarea{
    padding: 0.9375em;
}

.botones{
    text-align: right;
    margin-right: 0.375em;
}


/* css para footer */

footer{
    border-radius: 0.625em;
    border: solid 2px;
    background-color: rgb(38, 124, 38);
    padding: 3.125em;
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-areas: 
    "footerParrafo"
    "iconoDiv iconoDiv iconoDiv";
    box-shadow: inset 0.25em -0.25em 1.875em 0.25em rgba(0,0,0,0.7);
}

.footerParrafo{
    border-radius: 0.625em;
    border-start-end-radius: 0px;
    border-bottom-right-radius: 0px;
    border: solid 1px;
    border-left: none;
    border-right: none;
    color: rgb(223, 219, 219);
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.iconoDiv{
    border-radius: 0.625em;
    border-start-start-radius: 0px;
    border-bottom-left-radius: 0px;
    border: solid 1px;
    color: rgb(224, 219, 219);
    border-left: none;
    border-right: none;
    display: flex;
    justify-content: flex-end;
    text-align: center;
    align-content: center;
}


/* Vista Desktops */

@media (max-width: 992px) and (min-width: 800px) {
    body{
        font-size: 16px;
        overflow-x: hidden;
    }

}

/* Vista Tablets */



@media (max-width: 800px) and (min-width: 600px) {

    .contenedor{
        justify-content: space-around;
    }

    body{
        background: none;
        background-repeat: none;
        background-size: none;
        background-position: none;
        overflow-x: hidden;
        background-color: azure;
    }


    .parrafito{
        margin-right: 0em;
        font-style: none;
    }

    
    .parrafitoSegundaSeccion{
        margin-left: 0em;
        font-style: none;
    }

    .tituloBasquetbol{
        margin-top: 2.25em;
        text-align: center;
        color: rgb(4, 53, 14);
        font-size: 2.125em;
        font-weight: bold;
        box-shadow: 0.8125em -0.5625em 1.1875em 1.25em rgba(0,0,0,0.3);
    }

    .tituloFutbol{
        margin-top: 2.375em;
        text-align: center;
        color: rgb(4, 53, 14);
        font-size: 2.125rem;
        font-weight: bold;
        box-shadow: 0.8125em -0.5625em 1.1875em 1.25em rgba(0,0,0,0.3);
    }
    .imagenesDeInstitucion{ 
        display: flex;
        justify-content: flex-end;
        height: 20em;
        text-align: left;
        margin-top: 1.125em;
        margin-bottom: 1.125em;
        border: solid 0em;
        margin-left: 10.375em;
        box-shadow: 0em 0em 0em 0em rgba(0,0,0,0.3);
    }

    .basquetbolCampeones{
        display: flex;
        justify-content: flex-end;
        height: 20em;
        text-align: left;
        margin-top: 1.125em;
        margin-bottom: 1.125em;
        border: solid 0px;
        margin-left: 10.375em;
        margin-bottom: 3.25em;
        box-shadow: 0em 0em 0em 0em rgba(0,0,0,0.3);
    }
    
    .logo{
        margin-top: 0.625em;
        height: 4.25em;
    }

    h1{
        font-size: 20px;
    }

    .div1Flex{
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        flex-wrap: wrap;
        justify-content: center;
    }

    .div2Flex{
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        flex-wrap: wrap;
        justify-content: center;
    }

    .img1:hover{
        transform: none;
    }

    .img2:hover{
        transform: none;
    }

    .iconoDiv{
        align-items: center;
    }

    .hito{
        margin: 7% 0% 2% 0%;
        font-size: 1.9em;
    }

}

/* Vista Mobile */

@media (max-width: 600px) and (min-width: 350px) {

    .contenedor{
        justify-content: space-around;
    }

    body{
        background: none;
        background-repeat: none;
        background-size: none;
        background-position: none;
        overflow-x: hidden;
        background-color: azure;
    }

    .div1Flex{
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        flex-wrap: wrap;
        justify-content: center;
    }

    .div2Flex{
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        flex-wrap: wrap;
        justify-content: center;
    }

    ul{
        font-size: 0.90em;
        justify-content: space-evenly
    }
    
    .logo{
        margin-top: 0.5em;
        height: 3.75em;
    }
    
    
    h1{
        font-size: 1.2em;
    }
    
    .subt{
        margin-right: 1.5em;
    }

    body{
        font-size: 16px;
    }

    .parrafo{
        margin: 7% 0% 2% 0%;
        font-size: 2.5em;
    }


    .img1:hover{
        transform: none;
    }


    .seccionDos{
        margin-bottom: 2.25em;
    }

    .hito{
        margin: 7% 0% 2% 0%;
        font-size: 1.5em;
    }


    .img2:hover{
        transform: none;
    }

    .tituloBasquetbol{
        margin-top: 1em;
        text-align: center;
        color: rgb(4, 53, 14);
        font-size: 1.5em;
        font-weight: bold;
        box-shadow: 0.8125em -0.5625em 1.1875em 1.25em rgba(0,0,0,0.3);
    }

    .basquetbolParrafo {
        margin-top: 1.7em;
        font-size: 0.8em;
    }

    .tituloFutbol{
        margin-top: 1em;
        text-align: center;
        color: rgb(4, 53, 14);
        font-size: 1.5rem;
        font-weight: bold;
        box-shadow: 0.8125em -0.5625em 1.1875em 1.25em rgba(0,0,0,0.3);
    }

    .futbolParrafo {
        margin-top: 1.7em;
        font-size: 0.8em;
    }

    .imagenesDeInstitucion{ 
        display: flex;
        justify-content: center;
        height: 10em;
        text-align: left;
        margin-top: 1.125em;
        margin-bottom: 1.125em;
        border: solid 0em;
        margin-left: 0em;
        box-shadow: 0em 0em 0em 0em rgba(0,0,0,0.3);
    }

    .basquetbolCampeones{
        display: flex;
        justify-content: center;
        height: 10em;
        text-align: left;
        margin-top: 1.125em;
        margin-bottom: 1.3em;
        border: solid 0px;
        margin-left: 0em;
        box-shadow: 0em 0em 0em 0em rgba(0,0,0,0.3);
    }

    .footerParrafo{
        font-size: 13px;
    }

    .iconoDiv{
        align-items: center;
    }
    
}

/* Vista Mobile */

@media (max-width: 350px) and (min-width: 0px) {

    .contenedor{
        justify-content: space-around;
    }

    body{
        background: none;
        background-repeat: none;
        background-size: none;
        background-position: none;
        overflow-x: hidden;
        background-color: azure;
    }

    .img1:hover{
        transform: none;
    }

    .img2:hover{
        transform: none;
    }

    
    .div1Flex{
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        flex-wrap: wrap;
        justify-content: center;
    }

    .div2Flex{
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        flex-wrap: wrap;
        justify-content: center;
    }

    ul{
        font-size: 0.6em;
        justify-content: space-evenly
    }
    
    .logo{
        margin-top: 0.5em;
        height: 3em;
    }
    
    
    h1{
        font-size: 1em;
    }
    
    .subt{
        font-size: 0.7em;
        margin-right: 1em;
    }


    .parrafo{
        margin: 7% 0% 2% 0%;
        font-size: 2em;
        font-weight: bold;
    }

    .parrafito{
        margin-bottom: 2.125em;
        margin-right: 1em;
        margin-left: 1em;
        font-size: 1em;
        font-weight: bold;
    }

    .hito{
        margin: 7% 0% 2% 0%;
        font-size: 1.3em;
    }


    .parrafitoSegundaSeccion{
        margin-bottom: 2.125em;
        margin-left: 1em;
        margin-right: 1em;
        font-size: 1em;
    }

    .tituloBasquetbol{
        margin-top: 1em;
        text-align: center;
        color: rgb(4, 53, 14);
        font-size: 1.5em;
        font-weight: bold;
        box-shadow: 0.8125em -0.5625em 1.1875em 1.25em rgba(0,0,0,0.3);
    }

    .basquetbolParrafo {
        margin-top: 1.7em;
        font-size: 0.8em;
    }

    .tituloFutbol{
        margin-top: 1em;
        text-align: center;
        color: rgb(4, 53, 14);
        font-size: 1.5rem;
        font-weight: bold;
        box-shadow: 0.8125em -0.5625em 1.1875em 1.25em rgba(0,0,0,0.3);
    }

    .futbolParrafo {
        margin-top: 1.7em;
        font-size: 0.8em;
    }

    .imagenesDeInstitucion{ 
        display: flex;
        justify-content: center;
        height: 10em;
        text-align: left;
        margin-top: 1.125em;
        margin-bottom: 1.125em;
        border: solid 0em;
        margin-left: 0em;
        box-shadow: 0em 0em 0em 0em rgba(0,0,0,0.3);
    }

    .basquetbolCampeones{
        display: flex;
        justify-content: center;
        height: 10em;
        text-align: left;
        margin-top: 1.125em;
        margin-bottom: 1.3em;
        border: solid 0px;
        margin-left: 0em;
        box-shadow: 0em 0em 0em 0em rgba(0,0,0,0.3);
    }

    .footerParrafo{
        font-size: 10px;
    }

    
}