/* css para contacto.html */

@media (min-width: 993px){
    .mainG{
        display: grid;
        justify-content: center;
        .divC{
            margin-top: 50px;
            margin-bottom: 30px;
            color: black;
            .bxsh {
                box-shadow: 0.2em -0.2em 1em 0.3em rgba(48, 109, 40, 0.3);
            }
            .pC {
                font-weight: bolder;
                background-color: rgba(16, 77, 19, 0.61);
            }
            .icoP {
                display: flex;
                flex-direction: column;
                box-shadow: 0.2em -0.2em 1em 0.3em rgba(48, 109, 40, 0.3);
            }
        }
        form{
            color: black;
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            margin-bottom: 50px;
            fieldset{
                border: none;
                .lineaFormulario{
                    margin-bottom: 1.875em;
                    margin-left: 1.875em;
                    label {
                        background-color: rgba(255, 255, 255, 0.37);
                        float: left;
                        width: 5.75em;
                        font-size: 1.35em;
                        font-weight: bolder;
                    }
                    input{
                        padding: 0.3125em;
                    }
                    textarea{
                        padding: 0.9375em;
                    }
                    
                    .botones{
                        margin-right: 0em;
                    }
                }
            }
        }
    }
}