/* Vista Desktops */

@media (max-width: 992px) and (min-width: 800px) {

    body{
        font-size: 1em;
        overflow-x: hidden;
    }

    .contenedor{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        header{
            .div1{
                height: 100%;
                .logoyh1{
                    .logo{
                        margin-top: 0.625em;
                        height: 4em;
                    }
                    h1{
                        font-size: 1.4em;
                    }
                }
                .subt{
                    font-size: 1em;
                }
            }
        }
    }

    main{
        text-align: center;
        .parrafo {
            display: flex;
            justify-content: center;
            margin: 3% 0% 7% 0%;
            font-size: 2.5em;
            font-weight: bold;
            color: rgb(4, 53, 14);
            box-shadow: 0.8125em -0.5625em 1.1875em 1.25em rgba(0, 0, 0, 0.3);
        }
        .div1Flex{
            display: flex;
            flex-direction: column;
            align-items: center;
            .parrafito{
                margin-bottom: 3.125em;
                margin-right: 2em;
                margin-left: 2em;
                color: rgb(0, 2, 1);
                font-weight: bold;
                font-size: 1.25em;
                font-style: oblique;
            }
            .img1{
                margin-left: 9.375em;
                margin-right: 9.375em;
                width: 20em;
                border: solid 2px;
                border-radius: 1.25em;
                transition: all 3s;
                box-shadow: 0.8125em -0.5625em 1.1875em 1.25em rgba(0,0,0,0.5);
            }
            .img1:hover{
                transform: none;
            }
        }
        .seccionDos{
            margin-bottom: 6.25em;
            .hito {
                margin: 14% 0% 10% 0%;
                font-size: 2em;
                font-weight: bold;
                color: rgb(4, 53, 14);
                box-shadow: 0.8125em -0.5625em 1.1875em 1.25em rgba(0, 0, 0, 0.3);
            }
            .div2Flex{
                display: flex;
                flex-direction: column;
                align-items: center;
                .parrafitoSegundaSeccion{
                    margin-bottom: 3.125em;
                    margin-left: 2em;
                    margin-right: 2em;
                    color: rgb(0, 2, 1);
                    font-weight: bold;
                    font-size: 1.25em;
                    font-style: oblique;
                }
                .img2{
                    margin-right: 9.375em;
                    margin-left: 9.375em;
                    width: 24em;
                    border: solid 2px;
                    border-radius: 1.25em;
                    transition: all 3s;
                    box-shadow: -0.8125em -0.5625em 1.1875em 1.25em rgba(0,0,0,0.5);
                }
                .img2:hover{
                    transform: none;
                }
            }
        }
    }

    .sectionInsti{
        .tituloFutbol{
            margin-top: 1em;
            text-align: center;
            color: rgb(4, 53, 14);
            font-size: 2.5em;
            font-weight: bold;
            box-shadow: 0.8125em -0.5625em 1.1875em 1.25em rgba(0,0,0,0.3);
        }
        .futbolParrafo {
            margin-top: 1.7em;
            font-size: 1.4em;
            font-weight: bolder;
        }
        .carousel-fade{
            width: 70%;
            margin-left: 9em;
        }
    }

    .sectionInstiDos{
        .tituloBasquetbol{
            margin-top: 1em;
            text-align: center;
            color: rgb(4, 53, 14);
            font-size: 2.5em;
            font-weight: bold;
            box-shadow: 0.8125em -0.5625em 1.1875em 1.25em rgba(0,0,0,0.3);
        }
        .basquetbolParrafo {
            margin-top: 1.7em;
            font-size: 1.4em;
            font-weight: bolder;
        }
        .carousel-fade2{
            width: 70%;
            margin-left: 9em;
        }
    }

    .gridMain{
        display: grid;
        grid-template-columns: 4fr;
        .divF{
            display: flex;
            flex-direction: column;
            margin-top: 50px;
            .clasificados{
                margin-top: 20px;
                margin-bottom: 50px;
                font-size: 2em;
                font-weight: bold;
                color: rgb(4, 53, 14);
                box-shadow: 0.8125em -0.5625em 1.1875em 1.25em rgba(0,0,0,0.3);
            }
            .versus {
                font-weight: bolder;
                font-size: 20px;
                color: black;
                background-color: rgba(139, 139, 124, 0.61);
                border-bottom: solid rgb(1, 68, 1) 1.5px;
                border-top: solid rgb(1, 68, 1) 1.5px;
            }
            .raVsAr {
                font-size: 30px;
                color: rgb(3, 61, 3);
                background-color: rgba(76, 76, 71, 0.61);
                border-bottom: solid black 1px;
                border-top: solid black 0.5px;
            }
        }
        }
        .tablaF{
            display: grid
        }
        .parrafoF{
            display: flex;
            flex-direction: row;
            align-items: center;
            table {
                width: 30%;
                border: solid 2px;
                margin-bottom: 5em;
                margin-top: 5em;
                background-color: rgb(246, 248, 250);
            }
                thead{
                    background-color: green;
                    border-bottom: solid 2px black;
                    color: white;
                }
                .racingPos{
                    background-color: rgb(165, 165, 165);
                }
                th, td{
                    padding: 5px;
                    text-align: center;
                }
            }
            .h2F{
                font-size: 2em;
                font-weight: bold;
                color: rgb(4, 53, 14);
                margin-left: 50px;
            }
            .figureF:hover .figcaptionF{
                display: block;
            }
            .figureF{
                position: relative;
                .imgVs{
                    width: 20em;
                }
            }
                .figcaptionF{
                    display: none;
                    position: absolute;
                    top: 5px;
                    left: 5px;
                    bottom: 5px;
                    right: 5px;
                    background-color: rgba(0, 0, 0, .7);
                    .parrafoF {
                        text-align: center;
                        padding: 2.2em;
                        font: 1em Verdana;
                        color: white;
                }
            }

    .tablaB{
        display: grid;
        justify-content: end;
    }
    
    .parrafoB{
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        margin-right: 20px;
        text-align: center;
        font-weight: bolder;
        color: black;
        table {
            width: 30%;
            border: solid 2px;
            margin-bottom: 5em;
            margin-top: 5em;
            background-color: rgb(246, 248, 250);
        }
            thead{
                background-color: green;
                border-bottom: solid 2px black;
                color: white;
            }
            .racingPos{
                background-color: rgb(165, 165, 165);
            }
            th, td{
                padding: 5px;
                text-align: center;
            }
    }
    .h2B{
        font-size: 2em;
        font-weight: bold;
        color: rgb(4, 53, 14);
        margin-right: 0px;
    }
    .figureB:hover .figcaptionB{
        display: block;
    }
    .figureB{
        position: relative;
        .imgvsB{
            width: 20em;
        }
    }
        .figcaptionB{
            display: none;
            position: absolute;
            top: 5px;
            left: 5px;
            bottom: 5px;
            right: 5px;
            background-color: rgba(0, 0, 0, .7);
            .parrafoB{
                text-align: center;
                padding: 1.7em;
                font: 1em Verdana;
                color: white;
        }
    }

    .mainG{
        display: grid;
        justify-content: center;
        .divC{
            margin-top: 50px;
            margin-bottom: 30px;
            .bxsh {
                box-shadow: 0.2em -0.2em 1em 0.3em rgba(48, 109, 40, 0.3);
            }
            .pC {
                font-weight: bolder;
                background-color: rgba(16, 77, 19, 0.61);
            }
            .icoP {
                display: flex;
                flex-direction: column;
                box-shadow: 0.2em -0.2em 1em 0.3em rgba(48, 109, 40, 0.3);
            }
        }
        form{
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            margin-bottom: 50px;
            fieldset{
                border: none;
                .lineaFormulario{
                    margin-bottom: 1.875em;
                    margin-left: 1.875em;
                    label {
                        background-color: rgba(255, 255, 255, 0.37);
                        float: left;
                        width: 5.75em;
                        font-size: 1.35em;
                        font-weight: bolder;
                    }
                    input{
                        padding: 0.3125em;
                    }
                    textarea{
                        padding: 0.9375em;
                    }
                    
                    .botones{
                        margin-right: 0em;
                    }
                }
            }
        }
    }

}

/* Vista Tablets */

@media (max-width: 800px) and (min-width: 600px) {

    body{
        background-image: none;
    }

    .contenedor{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        header{
            .div1{
                height: 100%;
                .logoyh1{
                    .logo{
                        margin-top: 0.625em;
                        height: 4em;
                    }
                    h1{
                        font-size: 1.4em;
                    }
                }
                .subt{
                    font-size: 1em;
                }
            }
        }
    }

    main{
        text-align: center;
        .parrafo {
            display: flex;
            justify-content: center;
            margin: 3% 0% 7% 0%;
            font-size: 2.5em;
            font-weight: bold;
            color: rgb(4, 53, 14);
            box-shadow: 0.8125em -0.5625em 1.1875em 1.25em rgba(0, 0, 0, 0.3);
        }
        .div1Flex{
            display: flex;
            flex-direction: column;
            align-items: center;
            .parrafito{
                margin-bottom: 3.125em;
                margin-right: 1.5em;
                margin-left: 1.5em;
                color: rgb(0, 2, 1);
                font-weight: bold;
                font-size: 1.25em;
                font-style: oblique;
            }
            .img1{
                margin-left: 9.375em;
                margin-right: 9.375em;
                width: 16.875em;
                border: solid 2px;
                border-radius: 1.25em;
                transition: all 3s;
                box-shadow: 0.8125em -0.5625em 1.1875em 1.25em rgba(0,0,0,0.5);
            }
            
            .img1:hover{
                transform: none;
            }
        }
        .seccionDos{
            margin-bottom: 6.25em;
            .hito {
                margin: 14% 0% 10% 0%;
                font-size: 2em;
                font-weight: bold;
                color: rgb(4, 53, 14);
                box-shadow: 0.8125em -0.5625em 1.1875em 1.25em rgba(0, 0, 0, 0.3);
            }
            .div2Flex{
                display: flex;
                flex-direction: column;
                align-items: center;
                .parrafitoSegundaSeccion{
                    margin-bottom: 3.125em;
                    margin-left: 1.5em;
                    margin-right: 1.5em;
                    color: rgb(0, 2, 1);
                    font-weight: bold;
                    font-size: 1.25em;
                    font-style: oblique;
                }
                .img2{
                    margin-right: 9.375em;
                    margin-left: 9.375em;
                    width: 18.75em;
                    border: solid 2px;
                    border-radius: 1.25em;
                    transition: all 3s;
                    box-shadow: -0.8125em -0.5625em 1.1875em 1.25em rgba(0,0,0,0.5);
                }
                
                .img2:hover{
                    transform: none;
                }
            }
        }
    }

    .sectionInsti{
        .tituloFutbol{
            margin-top: 1em;
            text-align: center;
            color: rgb(4, 53, 14);
            font-size: 2em;
            font-weight: bold;
            box-shadow: 0.8125em -0.5625em 1.1875em 1.25em rgba(0,0,0,0.3);
        }
        .futbolParrafo {
            margin-top: 1.7em;
            margin-left: 1em;
            margin-right: 1em;
            font-size: 1.2em;
            font-weight: bolder;
        }
        .carousel-fade{
            width: 70%;
            margin-left: 7em;
        }
    }

    .sectionInstiDos{
        .tituloBasquetbol{
            margin-top: 1em;
            text-align: center;
            color: rgb(4, 53, 14);
            font-size: 2em;
            font-weight: bold;
            box-shadow: 0.8125em -0.5625em 1.1875em 1.25em rgba(0,0,0,0.3);
        }
        .basquetbolParrafo {
            margin-top: 1.7em;
            font-size: 1.2em;
            font-weight: bolder;
        }
        .carousel-fade2{
            width: 70%;
            margin-left: 7em;
        }
    }


.gridMain{
        display: grid;
        grid-template-columns: 4fr;
        .divF{
            display: flex;
            flex-direction: column;
            margin-top: 50px;
            .clasificados{
                margin-top: 20px;
                margin-bottom: 50px;
                font-size: 1.7em;
                font-weight: bold;
                color: rgb(4, 53, 14);
                box-shadow: 0.8125em -0.5625em 1.1875em 1.25em rgba(0,0,0,0.3);
            }
            .versus {
                font-weight: bolder;
                font-size: 20px;
            }
            .raVsAr {
                font-size: 30px;
                color: darkgreen;
            }
        }
        }
        .tablaF{
            display: grid
        }
        .parrafoF{
            display: flex;
            flex-direction: column;
            align-items: center;
            table {
                width: 30%;
                border: solid 2px;
                margin-bottom: 5em;
                margin-top: 5em;
                background-color: rgb(246, 248, 250);
            }
                thead{
                    background-color: green;
                    border-bottom: solid 2px black;
                    color: white;
                }
                .racingPos{
                    background-color: rgb(165, 165, 165);
                }
                th, td{
                    padding: 5px;
                    text-align: center;
                }
            }
            .h2F{
                font-size: 2em;
                font-weight: bold;
                color: rgb(4, 53, 14);
                margin-left: none;
            }
            .figureF:hover .figcaptionF{
                display: block;
            }
            .figureF{
                position: relative;
                .imgVs{
                    width: 20em;
                }
            }
                .figcaptionF{
                    display: none;
                    position: absolute;
                    top: 5px;
                    left: 5px;
                    bottom: 5px;
                    right: 5px;
                    background-color: rgba(0, 0, 0, .7);
                    .parrafoF {
                        text-align: center;
                        padding: 2.2em;
                        font: 1em Verdana;
                        color: white;
                }
            }

            .tablaB{
                display: grid;
                justify-content: center;
            }
            
            .parrafoB{
                display: flex;
                flex-direction: column-reverse;
                align-items: center;
                margin-right: none;
                text-align: center;
                font-weight: bolder;
                color: black;
                table {
                    width: 30%;
                    border: solid 2px;
                    margin-bottom: 5em;
                    margin-top: 1em;
                    background-color: rgb(246, 248, 250);
                }
                    thead{
                        background-color: green;
                        border-bottom: solid 2px black;
                        color: white;
                    }
                    .racingPos{
                        background-color: rgb(165, 165, 165);
                    }
                    th, td{
                        padding: 5px;
                        text-align: center;
                    }
            }
            .h2B{
                font-size: 2em;
                font-weight: bold;
                color: rgb(4, 53, 14);
                margin-right: 0px;
            }
            .figureB:hover .figcaptionB{
                display: block;
            }
            .figureB{
                position: relative;
                .imgvsB{
                    width: 20em;
                }
            }
                .figcaptionB{
                    display: none;
                    position: absolute;
                    top: 5px;
                    left: 5px;
                    bottom: 5px;
                    right: 5px;
                    background-color: rgba(0, 0, 0, .7);
                    .parrafoB{
                        text-align: center;
                        padding: 1.9em;
                        font: 1em Verdana;
                        color: white;
                }
            }

            .mainG{
                display: grid;
                justify-content: center;
                .divC{
                    margin-top: 50px;
                    margin-bottom: 30px;
                    .bxsh {
                        box-shadow: 0.2em -0.2em 1em 0.3em rgba(48, 109, 40, 0.3);
                    }
                    .pC {
                        font-weight: bolder;
                        color: black;
                        background-color: rgba(16, 77, 19, 0.61);
                    }
                    .icoP {
                        display: flex;
                        flex-direction: column;
                        box-shadow: 0.2em -0.2em 1em 0.3em rgba(48, 109, 40, 0.3);
                    }
                }
                form{
                    display: flex;
                    flex-direction: column;
                    align-items: flex-end;
                    margin-bottom: 50px;
                    fieldset{
                        border: none;
                        .lineaFormulario{
                            margin-bottom: 1.875em;
                            margin-left: 1.875em;
                            label {
                                background-color: none;
                                float: left;
                                width: 5.75em;
                                font-size: 1.35em;
                                font-weight: bolder;
                            }
                            input{
                                padding: 0.3125em;
                            }
                            textarea{
                                padding: 0.9375em;
                            }
                            
                            .botones{
                                margin-right: 0em;
                            }
                        }
                    }
                }
            }

    .iconoDiv{
        flex-direction: row;
        flex-wrap: nowrap;
        align-content: flex-end;
    }

}

/* Vista Mobile */

@media (max-width: 600px) and (min-width: 350px) {

    body{
        width: 100%;
        background: none;
        background-repeat: none;
        background-size: none;
        background-position: none;
        overflow-x: hidden;
        background-color: azure;
    }
    
    .contenedor{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        header{
            .div1{
                height: 100%;
                .logoyh1{
                    .logo{
                        margin-top: 0.625em;
                        height: 3.3em;
                    }
                    h1{
                        font-size: 0.9em;
                    }
                }
                .subt{
                    font-size: 8px;
                }
            }
        }
    }

    main{
        text-align: center;
        .parrafo {
            display: flex;
            justify-content: center;
            margin: 3% 0% 7% 0%;
            font-size: 2.5em;
            font-weight: bold;
            color: rgb(4, 53, 14);
            box-shadow: 0.8125em -0.5625em 1.1875em 1.25em rgba(0, 0, 0, 0.3);
        }
        .div1Flex{
            display: flex;
            flex-direction: column;
            align-items: center;
            .parrafito{
                margin-bottom: 3.125em;
                margin-right: 1em;
                margin-left: 1em;
                color: rgb(0, 2, 1);
                font-weight: bold;
                font-size: 1.1em;
                font-style: oblique;
            }
            .img1{
                margin-left: 9.375em;
                margin-right: 9.375em;
                width: 16.875em;
                border: solid 2px;
                border-radius: 1.25em;
                transition: all 3s;
                box-shadow: 0.8125em -0.5625em 1.1875em 1.25em rgba(0,0,0,0.5);
            }
            
            .img1:hover{
                transform: none;
            }
        }
        .seccionDos{
            margin-bottom: 6.25em;
            .hito {
                margin: 14% 0% 10% 0%;
                font-size: 1.5em;
                font-weight: bold;
                color: rgb(4, 53, 14);
                box-shadow: 0.8125em -0.5625em 1.1875em 1.25em rgba(0, 0, 0, 0.3);
            }
            .div2Flex{
                display: flex;
                flex-direction: column;
                align-items: center;
                .parrafitoSegundaSeccion{
                    margin-bottom: 3.125em;
                    margin-left: 1em;
                    margin-right: 1em;
                    color: rgb(0, 2, 1);
                    font-weight: bold;
                    font-size: 1.1em;
                    font-style: oblique;
                }
                .img2{
                    margin-right: 9.375em;
                    margin-left: 9.375em;
                    width: 18.75em;
                    border: solid 2px;
                    border-radius: 1.25em;
                    transition: all 3s;
                    box-shadow: -0.8125em -0.5625em 1.1875em 1.25em rgba(0,0,0,0.5);
                }
                
                .img2:hover{
                    transform: none;
                }
            }
        }
    }

    .sectionInsti{
        .tituloFutbol{
            margin-top: 1em;
            text-align: center;
            color: rgb(4, 53, 14);
            font-size: 1.8em;
            font-weight: bold;
            box-shadow: 0.8125em -0.5625em 1.1875em 1.25em rgba(0,0,0,0.3);
        }
        .futbolParrafo {
            margin-top: 1.7em;
            margin-left: 1em;
            margin-right: 1em;
            font-size: 1.2em;
            font-weight: bolder;
        }
        .carousel-fade{
            width: 80%;
            margin-left: 3em;
        }
    }

    .sectionInstiDos{
        .tituloBasquetbol{
            margin-top: 1em;
            text-align: center;
            color: rgb(4, 53, 14);
            font-size: 1.8em;
            font-weight: bold;
            box-shadow: 0.8125em -0.5625em 1.1875em 1.25em rgba(0,0,0,0.3);
        }
        .basquetbolParrafo {
            margin-top: 1.7em;
            font-size: 1.2em;
            font-weight: bolder;
        }
        .carousel-fade2{
            width: 80%;
            margin-left: 3em;
            margin-bottom: 2em;
        }
    }

    .gridMain{
        display: grid;
        grid-template-columns: 4fr;
        .divF{
            display: flex;
            flex-direction: column;
            margin-top: 50px;
            .clasificados{
                margin-top: 20px;
                margin-bottom: 50px;
                font-size: 1.5em;
                font-weight: bold;
                color: rgb(4, 53, 14);
                box-shadow: 0.8125em -0.5625em 1.1875em 1.25em rgba(0,0,0,0.3);
            }
            .versus {
                font-weight: bolder;
                font-size: 20px;
            }
            .raVsAr {
                font-size: 30px;
                color: darkgreen;
            }
        }
        }
        .tablaF{
            display: grid
        }
        .parrafoF{
            display: flex;
            flex-direction: column;
            align-items: center;
            table {
                width: 30%;
                border: solid 2px;
                margin-bottom: 5em;
                margin-top: 5em;
                background-color: rgb(246, 248, 250);
            }
                thead{
                    background-color: green;
                    border-bottom: solid 2px black;
                    color: white;
                }
                .racingPos{
                    background-color: rgb(165, 165, 165);
                }
                th, td{
                    padding: 5px;
                    text-align: center;
                }
            }
            .h2F{
                font-size: 2em;
                font-weight: bold;
                color: rgb(4, 53, 14);
                margin-left: 0px;
                border-bottom: solid;
                border-radius: 10%;
            }
            .figureF:hover .figcaptionF{
                display: block;
            }
            .figureF{
                position: relative;
                .imgVs{
                    width: 20em;
                }
            }
                .figcaptionF{
                    display: none;
                    position: absolute;
                    top: 5px;
                    left: 5px;
                    bottom: 5px;
                    right: 5px;
                    background-color: rgba(0, 0, 0, .7);
                    .parrafoF {
                        text-align: center;
                        padding: 2.2em;
                        font: 1em Verdana;
                        color: white;
                }
            }
            .tablaB{
                display: grid;
                justify-content: center;
            }
            
            .parrafoB{
                display: flex;
                flex-direction: column-reverse;
                align-items: center;
                margin-right: 0px;
                text-align: center;
                font-weight: bolder;
                color: black;
                table {
                    width: 30%;
                    border: solid 2px;
                    margin-bottom: 5em;
                    margin-top: 0em;
                    background-color: rgb(246, 248, 250);
                }
                    thead{
                        background-color: green;
                        border-bottom: solid 2px black;
                        color: white;
                    }
                    .racingPos{
                        background-color: rgb(165, 165, 165);
                    }
                    th, td{
                        padding: 5px;
                        text-align: center;
                    }
            }
            .h2B{
                font-size: 2em;
                font-weight: bold;
                color: rgb(4, 53, 14);
                margin-right: 0px;
            }
            .figureB:hover .figcaptionB{
                display: block;
            }
            .figureB{
                position: relative;
                .imgvsB{
                    width: 20em;
                }
            }
                .figcaptionB{
                    display: none;
                    position: absolute;
                    top: 5px;
                    left: 5px;
                    bottom: 5px;
                    right: 5px;
                    background-color: rgba(0, 0, 0, .7);
                    .parrafoB{
                        text-align: center;
                        padding: 1.9em;
                        font: 1em Verdana;
                        color: white;
                }
            }

    tr, th, td{
        padding: 10px;
    }

    .mainG{
        display: grid;
        justify-content: center;
        .divC{
            margin-top: 50px;
            margin-bottom: 30px;
            .bxsh {
                box-shadow: 0.2em -0.2em 1em 0.3em rgba(48, 109, 40, 0.3);
            }
            .pC {
                font-weight: bolder;
                color: black;
                background-color: rgba(16, 77, 19, 0.61);
            }
            .icoP {
                display: flex;
                flex-direction: column;
                box-shadow: 0.2em -0.2em 1em 0.3em rgba(48, 109, 40, 0.3);
            }
        }
        form{
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            margin-bottom: 50px;
            fieldset{
                border: none;
                .lineaFormulario{
                    margin-bottom: 1.875em;
                    margin-left: 1.875em;
                    label {
                        background-color: none;
                        float: left;
                        width: 5.75em;
                        font-size: 1.35em;
                        font-weight: bolder;
                    }
                    input{
                        padding: 0.3125em;
                    }
                    textarea{
                        padding: 0.9375em;
                    }
                    
                    .botones{
                        margin-right: 0em;
                    }
                }
            }
        }
    }

    .iconoDiv{
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }
}

/* Vista Mobile */

@media (max-width: 350px) and (min-width: 0px) {

    body{
        width: 100%;
        background: none;
        background-repeat: none;
        background-size: none;
        background-position: none;
        overflow-x: hidden;
        background-color: azure;
        font-size: 16px;
    }

    .contenedor{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        header{
            .div1{
                height: 100%;
                .logoyh1{
                    .logo{
                        margin-top: 0.625em;
                        height: 3.3em;
                    }
                    h1{
                        font-size: 0.7em;
                    }
                }
                .subt{
                    font-size: 8px;
                }
            }
        }
    }

    main{
        text-align: center;
        .parrafo {
            display: flex;
            justify-content: center;
            margin: 3% 0% 7% 0%;
            font-size: 2.2em;
            font-weight: bold;
            color: rgb(4, 53, 14);
            box-shadow: 0.8125em -0.5625em 1.1875em 1.25em rgba(0, 0, 0, 0.3);
        }
        .div1Flex{
            display: flex;
            flex-direction: column;
            align-items: center;
            .parrafito{
                margin-bottom: 3.125em;
                margin-right: 0.5em;
                margin-left: 0.5em;
                color: rgb(0, 2, 1);
                font-weight: bold;
                font-size: 1.1em;
                font-style: oblique;
            }
            .img1{
                margin-left: 9.375em;
                margin-right: 9.375em;
                width: 16.875em;
                border: solid 2px;
                border-radius: 1.1em;
                transition: all 3s;
                box-shadow: 0.8125em -0.5625em 1.1875em 1.25em rgba(0,0,0,0.5);
            }
            
            .img1:hover{
                transform: none;
            }
        }
        .seccionDos{
            margin-bottom: 6.25em;
            .hito {
                margin: 14% 0% 10% 0%;
                font-size: 1.5em;
                font-weight: bold;
                color: rgb(4, 53, 14);
                box-shadow: 0.8125em -0.5625em 1.1875em 1.25em rgba(0, 0, 0, 0.3);
            }
            .div2Flex{
                display: flex;
                flex-direction: column;
                align-items: center;
                .parrafitoSegundaSeccion{
                    margin-bottom: 3.125em;
                    margin-left: 0.5em;
                    margin-right: 0.5em;
                    color: rgb(0, 2, 1);
                    font-weight: bold;
                    font-size: 1.1em;
                    font-style: oblique;
                }
                .img2{
                    margin-right: 9.375em;
                    margin-left: 9.375em;
                    width: 18.75em;
                    border: solid 2px;
                    border-radius: 1.25em;
                    transition: all 3s;
                    box-shadow: -0.8125em -0.5625em 1.1875em 1.25em rgba(0,0,0,0.5);
                }
                
                .img2:hover{
                    transform: none;
                }
            }
        }
    }

    .sectionInsti{
        .tituloFutbol{
            margin-top: 1em;
            text-align: center;
            color: rgb(4, 53, 14);
            font-size: 1.6em;
            font-weight: bold;
            box-shadow: 0.8125em -0.5625em 1.1875em 1.25em rgba(0,0,0,0.3);
        }
        .futbolParrafo {
            margin-top: 1.7em;
            margin-left: 0.5em;
            margin-right: 0.5em;
            font-size: 1em;
            font-weight: bolder;
        }
        .carousel-fade{
            width: 80%;
            margin-left: 2.5em;
        }
    }

    .sectionInstiDos{
        .tituloBasquetbol{
            margin-top: 1em;
            text-align: center;
            color: rgb(4, 53, 14);
            font-size: 1.6em;
            font-weight: bold;
            box-shadow: 0.8125em -0.5625em 1.1875em 1.25em rgba(0,0,0,0.3);
        }
        .basquetbolParrafo {
            margin-top: 1.7em;
            margin-left: 0.5em;
            margin-right: 0.5em;
            font-size: 1em;
            font-weight: bolder;
        }
        .carousel-fade2{
            width: 80%;
            margin-left: 2.5em;
        }
    }

    .gridMain{
        display: grid;
        grid-template-columns: 4fr;
        .divF{
            display: flex;
            flex-direction: column;
            margin-top: 50px;
            .clasificados{
                margin-top: 10px;
                margin-bottom: 30px;
                font-size: 1.3em;
                font-weight: bold;
                color: rgb(4, 53, 14);
                box-shadow: 0.8125em -0.5625em 1.1875em 1.25em rgba(0,0,0,0.3);
            }
            .versus {
                font-weight: bolder;
                font-size: 1.2em;
            }
            .raVsAr {
                font-size: 1.2em;
                color: darkgreen;
            }
        }
        }
        .tablaF{
            display: grid
        }
        .parrafoF{
            display: flex;
            flex-direction: column;
            align-items: center;
            table {
                width: 30%;
                border: solid 2px;
                margin-bottom: 5em;
                margin-top: 5em;
                background-color: rgb(246, 248, 250);
            }
                thead{
                    background-color: green;
                    border-bottom: solid 2px black;
                    color: white;
                }
                .racingPos{
                    background-color: rgb(165, 165, 165);
                }
                th, td{
                    padding: 5px;
                    text-align: center;
                }
            }
            .h2F{
                font-size: 2em;
                font-weight: bold;
                color: rgb(4, 53, 14);
                margin-left: 0px;
                border-bottom: solid;
                border-radius: 10%;
            }
            .figureF:hover .figcaptionF{
                display: block;
            }
            .figureF{
                position: relative;
                .imgVs{
                    width: 20em;
                }
            }
                .figcaptionF{
                    display: none;
                    position: absolute;
                    top: 5px;
                    left: 5px;
                    bottom: 5px;
                    right: 5px;
                    background-color: rgba(0, 0, 0, .7);
                    .parrafoF {
                        text-align: center;
                        padding: 2.2em;
                        font: 1em Verdana;
                        color: white;
                }
            }

            .tablaB{
                display: grid;
                justify-content: center;
            }
            
            .parrafoB{
                display: flex;
                flex-direction: column-reverse;
                align-items: center;
                margin-right: 0px;
                text-align: center;
                font-weight: bolder;
                color: black;
                table {
                    width: 30%;
                    border: solid 2px;
                    margin-bottom: 5em;
                    margin-top: 2em;
                    background-color: rgb(246, 248, 250);
                }
                    thead{
                        background-color: green;
                        border-bottom: solid 2px black;
                        color: white;
                    }
                    .racingPos{
                        background-color: rgb(165, 165, 165);
                    }
                    th, td{
                        padding: 5px;
                        text-align: center;
                    }
            }
            .h2B{
                font-size: 2em;
                font-weight: bold;
                color: rgb(4, 53, 14);
                margin-right: 0px;
            }
            .figureB:hover .figcaptionB{
                display: block;
            }
            .figureB{
                position: relative;
                .imgvsB{
                    width: 17em;
                }
            }
                .figcaptionB{
                    display: none;
                    position: absolute;
                    top: 5px;
                    left: 5px;
                    bottom: 5px;
                    right: 5px;
                    background-color: rgba(0, 0, 0, .7);
                    .parrafoB{
                        text-align: center;
                        padding: 2.3em;
                        font: 0.8em Verdana;
                        color: white;
                }
            }

            .mainG{
                display: grid;
                justify-content: center;
                .divC{
                    margin-top: 20px;
                    margin-bottom: 30px;
                    .bxsh {
                        box-shadow: 0.2em -0.2em 1em 0.3em rgba(48, 109, 40, 0.3);
                    }
                    .pC {
                        font-weight: bolder;
                        color: black;
                        background-color: rgba(16, 77, 19, 0.61);
                    }
                    .icoP {
                        display: flex;
                        flex-direction: column;
                        box-shadow: 0.2em -0.2em 1em 0.3em rgba(48, 109, 40, 0.3);
                    }
                }
                form{
                    display: flex;
                    flex-direction: column;
                    align-items: flex-end;
                    margin-bottom: 50px;
                    font-size: 0.9em;
                    fieldset{
                        border: none;
                        .lineaFormulario{
                            margin-bottom: 1.875em;
                            margin-left: 1.875em;
                            label {
                                background-color: none;
                                float: left;
                                width: 5.75em;
                                font-size: 1.35em;
                                font-weight: bolder;
                            }
                            input{
                                padding: 0.3125em;
                            }
                            textarea{
                                padding: 0.9375em;
                            }
                            
                            .botones{
                                margin-right: 0em;
                            }
                        }
                    }
                }
            }

    .iconoDiv{
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }

}